otros-proyectos/
exportacao_full.csv
TERCER PARCIALITO/ratings_electronics.csv
TPS CUATRIS ANTERIORES
DRIVE A MATERIAL
TPS/PRIMER PARCIALITO/CountriesOfTheWorld.csv
TPS/PRIMER PARCIALITO/World.csv
TPS/SEGUNDO PARCIALITO/World.csv
TPS/TERCER PARCIALITO/ratings_electronics.csv